#huge-transaction{
    padding: 100px 0;
    background-image: url(../Image/callto-bg.jpg.webp);
    .row{
        .col{
            text-align: center;
            color: white;
            button{
                background-color: red;
                border: none;
                width: 200px;
                height: 40px;
                border-radius: 20px;
                color: white;
                &:hover{
                    background-color: white;
                    border: 1px solid white;
                    color: black;
                }
            }
        }

    }
}