#real-fitness{
padding: 300px 0;
 background-image: url(../Image/header-bg.jpg.webp);
 opacity: 1.5;
 background-repeat: no-repeat;
 .row{
    .col-12{
     text-align: center;
     color: white;
     h1{
        font-size: 50px;
     }
    }
 }
}